<div class="main-block" *ngIf="isInMainPage">
  <h1 class="main-block--header">Formula 1</h1>
  <div class="main-block--actions">
    <button type="button" class="btn btn-success me-4" (click)="selectYear()">
      Current year
    </button>
    <div class="dropdown">
      <button type="button" class="btn btn-outline-success dropdown-toggle" dropdown>
        Choose year
      </button>
      <div class="dropdown-menu">
        <div>
          <button *ngFor="let season of seasons"
                  (click)="selectYear(season?.season)"
                  type="button" class="btn btn-success" >
            {{season?.season}}
          </button>
          <p *ngIf="isLoadMoreAvailable" class="load-more" (click)="loadMoreYears()">Load more</p>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
